/*
 * Put the whole chrome folder in the profile directory e.g.:
 * /home/<user>/.mozilla/firefox/brtvqwbn.default-release/chrome
 * And enable toolkit.legacyUserProfileCustomizations.stylesheets in about:config
 * If you are there:
 * browser.compactmode.show = true  // Show Density: Compact
 * signon.showAutoCompleteFooter = false  // Don't show "View saved Logins"
 * keyword.enabled = false  // Don't use the URL bar for searching
 * extensions.unifiedExtensions.enabled = false // to hide the extensions button (maybe obsolete because we hide it now with CSS)
 *
 * To disable "Switch to Tab": Goto Settings -> search for "Open tabs" -> uncheck
 */

.tab-icon-sound-label {
    display: none !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
    background: #4f5358 !important;
    border-radius: 1px 1px 0 0 !important;
    margin-bottom: 0px !important;
    box-shadow: 0 0 0px 0px #4f5358 !important;
    border: 1px solid #4f5358 !important;
    border-bottom-width: 0px !important;
    background-color: #4f5358 !important;
    background-image: none !important;
}

.tab-background {
    background: #1b1e20 !important;
    border-radius: 1px 1px 0 0 !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    border: 1px solid #1b1e20 !important;
    border-bottom-width: 0px !important;
}

.tab-content {
    margin-top: 1px !important;
    padding-top: 3px !important;
    height: 30px !important;
}

#TabsToolbar {
    border-bottom: 0px solid #f9f9fb !important;
}

/* I'll get rid of this freaking button, and if I have to get a gun and shoot a hole into my screen, FINE! */
#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon{
    display: none;
}

/* The all tabs button is also not terribly useful */
#alltabs-button {
    display: none;
}
